<button (click)="toggleAnimation()">Change animation</button>
<div>{{animationState}}</div>
<div>

  <ul [@stateAnimation]="{value: animationState}">
    <li *ngFor="let item of items; let i = index" [@todoAnimation] >
    <!--<li *ngFor="let item of items; let i = index" [@flyInOut]="{value: animationState, params: {left_indent: 0.1}}">-->
      <span>{{item}}</span>
      <button (click)="removeItem(i)">X</button>

    </li>
  </ul>

  <button (click)="addItem()">add item</button>

  <div>
    <h2>Section user role</h2>
  </div>
  <div>
    <h3 *acl="'admin, user'">admin or user access</h3>
    <h3 *acl="'admin'">Only admin access</h3>
    <h3 *acl="'user'">Only user access</h3>
  </div>

</div>

<input #myInput type="text">

<div>
  {{data | json}}
</div>
<div>
  <hr>
  <app-counter></app-counter>
</div>

<div>
  <hr>
  <app-counter-store></app-counter-store>
  <app-counter-store></app-counter-store>
  <app-counter-store></app-counter-store>
</div>
